:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  justify-content: center;
  max-width: 700px;
  margin: 5px auto;

  background-color: rgb(47, 47, 47);
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 0 0 4px #656565;
}